# DATABASE
MYSQL_ROOT_PASSWORD=strongmemory_root_password
MYSQL_DATABASE=strong_memory_db
MYSQL_PORT=3306

SPRING_DATASOURCE_USERNAME=root
SPRING_DATASOURCE_PASSWORD=strongmemory_root_password

# API
API_PORT=8080
CORS_ALLOWED_ORIGINS=http://localhost:4200

# FRONTEND
FRONTEND_PORT=4200
API_URL=http://localhost:8080/api