# DATABASE
MYSQL_ROOT_PASSWORD=strongmemory_root_password
MYSQL_DATABASE=strong_memory_db
MYSQL_PORT=3306

SPRING_DATASOURCE_USERNAME=root
SPRING_DATASOURCE_PASSWORD=strongmemory_root_password

# API
API_PORT=8080
SPRING_REDIS_PORT=6379
JWT_SECRET_KEY=Jwt&Secret&Key&Strong&Memory&Application&123&Acb
CORS_ALLOWED_ORIGINS=http://localhost:4200

# FRONTEND
FRONTEND_PORT=4200
API_URL=http://localhost:8080
